
* {
    margin: 0
}

body {
    background: linear-gradient(to right, #997da9, #0040ff);
    min-width: 100vw;
}

#floatProfile {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-family: sans-serif;
}

#floatProfile>form {
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;

}

#floatProfile,
#floatProfile>form {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    gap: 35px;
}

#floatProfile>form>button {
    border: none;
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
}

#floatProfile>form:after {
    content: "";
    position: absolute;
    padding: 20px;
    bottom: -20px;
    background-color: inherit;
    z-index: -1;
    rotate: 45deg;
}

#floatProfile>form {
    transform-origin: center 185px;
    rotate: 90deg;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.show {
    opacity: 1 !important;
    rotate: 0deg !important;

}
